.section {
  background-color: rgba(200, 250, 250, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 40%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.9);
}

.title {
  margin: 10px 0;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 5px 2px 4px rgba(133, 11, 11, 0.9);
}
